@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --greenandpink-gradient: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #005691,
    #003b6a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #005691,
    #003b6a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green-pink-gradient {
  background: #00cea8;
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.card {
  height: 27rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  margin-right: 2rem;
  border: 2px solid #003b6a;
}

.title-card {
  font-family: Greycliff CF, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  border-radius: 0.5rem;
}

.lottie-container {
  width: 700px; /* Default width */
  height: 700px; /* Default height */
}

@media (max-width: 768px) {
  .lottie-container {
    width: 250px; /* Adjusted width for small screens */
    height: 250px; /* Adjusted height for small screens */
  }
  .wrapper {
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .image {
    max-width: 100%;
  }
  .body {
    padding-right: 0;
    margin-top: 2rem;
  }
}

@layer base {
  * {
    @apply font-[Kanit]
  }
}

.wrapper {
  display: flex;
  align-items: center;
  padding: calc(2rem * 2);
  border-radius: 0.5rem;
  background: radial-gradient(circle, rgba(170,166,195,1) 0%, rgba(51,67,103,1) 90%);;
  border: var(--greenandpink-gradient);
}

.image {
  max-width: 40%;
}

.body {
  padding-right: calc(2rem * 4);
}

.title {
  color: #f1f1f1;
  line-height: 1;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  margin-top: 2rem;
}

.inputWrapper {
  width: 100%;
  flex: 1;
}

.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mainContainer {
  margin: 10px;
}

.mainContainer .container {
  background-color: transparent;
  padding: 1rem 0;
}
.mainContainer .container img{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}